 <% if @appointments.empty? %>
    <div class="alert alert-dismissable alert-warning">
    <h4 class="list-group-item-heading">Available appointments in your area: <%= @appointments.count %></h4>
    </div>
  <% else %>
    <div class="alert alert-dismissable alert-success">
    <h4 class="list-group-item-heading">Available appointments in your area: <%= @appointments.count %></h4>
    </div>
  <% end %>

<% @appointments.each do |appt| %>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="list-group-item-heading">Time: <%= appt.meeting %>
      <div class="pull-right">Zip Code: <%= appt.property.zip_code %></div></h4>
    </div>
    <div class="panel-body">
      <div class="panel_info_heading">
        Address:
      </div>
        <div class="panel_info"><%= appt.property.address %></div>
      <br>
      <div class="panel_info_heading">
        Instructions:
      </div>
        <div class="panel_info"><%= appt.instructions %></div>
    </div>
      <div>
        <div class="btn-group">
          <a href="#" class="btn btn-info">Details</a>
          <%= link_to "Claim",  agent_appointment_path(appt),  method: :put, class: "btn btn-success" %>

          <a href="#" class="btn btn-warning">Cancel</a>
        </div>
      </div>
    </div>
  </div>
<% end %>
