<!DOCTYPE html>
<html>
<head>
  <title>Really2</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= stylesheet_link_tag    'application', 'http://fonts.googleapis.com/css?family=Open+Sans&subset=latin,cyrillic-ext' %>

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<!-- NAVBAR START -->

<%= render 'layouts/nav' %>
<%= render partial: "layouts/flash_messages", flash: flash %>
  <div class="container">
    <div class="custom_top">
      <% flash.each do |key, msg| %>
        <%= msg %>
      <% end %>
      <%= yield %>
    </div>
  </div>
</body>
</html>
